# LangChain Core Stack
langchain==0.3.25
langchain-core==0.3.59
langchain-community==0.3.24

# LangGraph
langgraph==0.2.67

# Integrations
langchain-openai
langchain-groq
langchain-anthropic
langchain-ollama
langchain-chroma

# LLM APIs
openai
anthropic

# Utils
python-dotenv

# Data validation
pydantic>=2.7,<3

# ML
numpy
scikit-learn

# Retrievers
wikipedia

# Media
youtube-transcript-api

# Tools
duckduckgo-search
langchain-experimental