# LangChain Core
langchain
langchain-core

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic
anthropic

# groq Integration
langchain-groq

# Environment Variable Management
python-dotenv

#data validation
pydantic

# Machine Learning Utility
numpy
scikit-learn